  @font-face {
    font-family: "CircularStd-Light";
    src: url("../fonts/Circular/CircularStd-Light.otf");
  }

  @font-face {
    font-family: "CircularStd-Med";
    src: url("../fonts/Circular/CircularStd-Medium.otf");
  }
  
  .iphone_x {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 360px;
    height: 780px;
    overflow-y: scroll;
    background-color: #191414;
    // background-image: linear-gradient(60deg, #7371ee 1%,#a1d9d6 100%);
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
    
    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    

    &:after {
      bottom: 7px;
      width: 140px;
      height: 4px;
      // position: sticky;
      background-color: #f2f2f2;
      border-radius: 10px;
    }
    

    // &:before {
    //   top: 0px;
    //   width: 56%;
    //   height: 30px;
    //   background-color: #1f1f1f;
    //   border-radius: 0px 0px 40px 40px;
    // }
    
    i,
    b,
    s,
    span {
      position: absolute;
      display: block;
      color: transparent;
    }
    

    i {
      top: 0px;
      left: 50%;
      transform: translate(-50%, 6px);
      height: 8px;
      width: 15%;
      background-color: #101010;
      border-radius: 8px;
      box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
    }
    

    b {
      left: 10%;
      top: 0px;
      transform: translate(180px, 4px);
      width: 12px;
      height: 12px;
      background-color: #101010;
      border-radius: 12px;
      box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
      
      &:after {
        content: '';
        position: absolute;
        background-color: #2d4d76;
        width: 6px;
        height: 6px;
        top: 2px;
        left: 2px;
        top: 3px;
        left: 3px;
        display: block;
        border-radius: 4px;
        box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
      }
    }
    
    s {
      top: 50px;
      color: #fff;
      text-align: center;
      text-decoration: none;
      width: 100%;
      font-size: 70px;
      font-weight: 100;
      padding-top: 60px;
    }

    .content {
      color: #fff;
      text-align: center;
      text-decoration: none;
      width: 100%;
      font-size: 70px;
      font-weight: 100;
      padding-top: 1000px;
    }

    .bgopacity{
      position: relative;
    }

    .bgopacity .topsection{
      position: absolute;
      height: 275px;
      width: 100%;
      margin-top: 0;
      background-image: url('https://i.scdn.co/image/ab6761610000e5eb8ec4207332def07fec21874d');
      background-size: cover;
      opacity: 0.6;
      z-index: 0;
    }

    .bgopacity .artistname{
      position: relative;
      margin: 0 !important;
      padding-top: 60%;
      padding-left: 10px;
      font-size: 50px;
      font-weight: bolder;
      letter-spacing: 0.2px !important;
      filter: brightness(150%);
      // z-index: 1;
      // text-shadow: 1px 1px 1px #000;
    }

    .infosection{
      padding-left: 10px;
      padding-top: 5px;
    }

    .numberoflisteners{
      font-family: "CircularStd-Light";
      font-size: 12px;
      color: gray;
      // font-weight: lighter !important;
    }

    .utilityelements{
      display: inline-block;
      vertical-align:middle;

    }

    .morevert{
      display: inline-block;
      padding-left: 20px;
      vertical-align:middle;
    }

    .followbutton{
      background-color:hsl(0, 11%, 9%);
      height: 30px;
      width: 80px;
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 13px;
    }
    

    span {
      bottom: 50px;
      width: 40px;
      height: 40px;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      left: 30px;
      
      & + span {
        left: auto;
        right: 30px;
      }
    }
  }